body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}

.wrapper{
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*Header*/
/*================================================*/
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0;
}

.nav >li{
    margin-left: 15px;
    margin-right: 15px;
}

.nav>li>a{
    text-decoration: none;
    color: #333333;
}

.header{
    background-color: #fff;
}

hr{
    border: 1px solid #EFEFEF;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.logo__item{
    display: flex;
    align-items: center;
}

.logo__item .logo{
    padding-left: 20px;
}

.logo{
    font-weight: bold;
    font-size: 36px;
    line-height: 116.6%;
    color: #66C05D;
    cursor: pointer;
}

.logo:hover{
    color: #56944e;
}

.header__info span{
   font-size: 16px;
    margin-right: 40px;
}

.header__info button{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 12px 25px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    box-sizing: border-box;
    border-radius: 40px;
    cursor: pointer;
    transition:0.2s ease ;
}

.header__info button:hover{
    background: #66C05D;
}

.header__bottom{
    padding: 30px 0;
}

.header__bottom .nav{
    font-size: 16px;
    line-height: 118.7%;
    margin: 0;
}

.header__bottom .nav >li{
    margin-left: 20px;
    margin-right: 20px;
}

/*========================================================*/

/*Banner*/
/*==============================================================*/

.banner{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.title{
    font-weight: bold;
    font-size: 48px;
    line-height: 116.6%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.banner p{
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.btn{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 12px 26px;
    transition:0.2s ease;
}

.btn:hover{
    background-color: #56944e;
}

/*=======================================================*/

/*Grid-catalog*/
/*===============================================*/

.catalog{
    padding: 60px 0 130px 0;
}

.bg__white{
    background-color: #fff;
    margin-bottom: 100px;
}

.bg__green{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66C05D;
    color: #fff;
    padding: 35px 45px 35px 40px;
}

.bg__green-item{
    flex: 0 0 65%;
}

.bg__green-img {
    flex: 0 0 45%;
    align-items: center;

}

.bg__green-item input{
    font-size: 14px;
    line-height: 114%;
    color: #C4C4C4;
    padding: 9px 40px 9px 25px;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
}

.bg__green .btn{
    display: block;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 180px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0 30px;
}

.grid-item-title{
    grid-column: 1/4;
    grid-row: 1/2;
}


.grid-item-img{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}


.grid-item-left{
    grid-column: 1/3;
    grid-row: auto;
}


.grid-item-right{
    grid-column: 3/5;
    grid-row: auto;
}

.title-h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 116.6%;
    color: #000000;
    padding-bottom: 20px;
}

.grid-item-catalog{
    text-align: center;
}

.grid-item-catalog .bg__white{
    padding: 25px 30px;

}

.grid__title{
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    color: #333333;
}

.grid__price{
    font-weight: 500;
    font-size: 21px;
    line-height: 119%;
    color: #000000;
}

.grid__btn{
    background: #66C05D;
    border-radius: 30px;
    padding: 9px 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
    text-decoration: none;
    transition:0.2s ease;
}

.grid__btn:hover{
    background-color: #56944e;
}

.bg__green h3{
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 116.6%;
    color: #FFFFFF;
}

.bg__green-item p{
    margin-bottom: 29px;
}














